# Directories
.vs/
.vscode/
**/Binaries/
**/Intermediate/
**/out/
!ThirdParty/*
vulkan-loader-**/

# Files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
**/*.spv
**/Makefile

# gtags
GPATH
GRTAGS
GTAGS