[submodule "jarp/Vendor/tinyobjloader"]
	path = jarp/Vendor/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "jarp/Vendor/stb"]
	path = jarp/Vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "jarp/Vendor/glm"]
	path = jarp/Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "jarp/Vendor/GLFW"]
	path = jarp/Vendor/GLFW
	url = https://github.com/zann1x/glfw.git
